<h1>
  Add New Sample!
</h1>
<label for="message" class="alert" [ngClass]="{'alert-success': isSucceed && !isNewSample, 'alert-danger': !isSucceed && !isNewSample, 'alert-info': isNewSample }">{{message}}</label>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Sample</h3>
  </div>
  <div class="panel-body">
    <label for="Barcode">Barcode</label>
    <input type="text" class="form-control" [(ngModel)]="sample.barcode" />
    <br>
    <label for="CreatedBy">CreatedBy</label>
    <select name="CreatedBy" id="CreatedBy" class="form-control" [(ngModel)]="sample.createdBy">
      <option *ngFor="let user of users; let i = index" [value]="user.userId">{{user.fullName}}</option>
    </select>
    <br>
    <label for="Status">Status</label>
    <select name="status" id="status" class="form-control" [(ngModel)]="sample.statusId">
      <option value="0">Received</option>
      <option value="1" selected="true">Accessioning</option>
      <option value="2">In Lab</option>
      <option value="3">Report Generation</option>
    </select>
  <br>
  <label for="CreatedAt">Created On</label>
  <label for="CreatedAtValue">{{sample.createdAt | date:'medium'}}</label>
  <br>
    <button class="pull-right btn btn-primary" (click)="save()">
      <span>
          <i class="fa fa-floppy-o"></i>
      </span>
      <span class="ng-scope">Save</span>
    </button>
  </div>
</div>  